@font-face {
    font-family: '60_Sarchia_Makka';
    src: url('../fonts/60_Sarchia_Makka.ttf');
}
*{
    font-family: '60_Sarchia_Makka' !important;
}
::-webkit-scrollbar {
      width: 5px;
  }
  ::-webkit-scrollbar-thumb {
      background:gray;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #000;
  }
  .blur {
      filter: blur(7px);
  }
  .radius-10{
      border-radius: 10px !important;
  }
  .radius-20{
      border-radius: 20px !important;
  }
  
